<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edev.trade.customer.dao.CustomerDao">
    <resultMap id="result" type="com.edev.trade.customer.entity.Customer">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="birthdate" column="birthdate"/>
        <result property="identification" column="identification"/>
        <result property="phoneNumber" column="phone_number"/>
    </resultMap>
    <insert id="insert" keyProperty="id" parameterType="com.edev.trade.customer.entity.Customer">
        insert into t_customer values(#{id},#{name},#{gender},#{birthdate},#{identification},#{phoneNumber})
    </insert>
    <update id="update" parameterType="com.edev.trade.customer.entity.Customer">
        update t_customer set name=#{name},gender=#{gender},birthdate=#{birthdate},
        identification=#{identification},phone_number=#{phoneNumber}
        where id=#{id}
    </update>
    <delete id="delete" parameterType="java.lang.Long">
        delete from t_customer where id=#{customerId}
    </delete>
    <select id="load" parameterType="java.lang.Long" resultMap="result">
        select * from t_customer where id=#{customerId}
    </select>
</mapper>