<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edev.trade.order.dao.OrderItemDao">
    <resultMap id="result" type="com.edev.trade.order.entity.OrderItem">
        <id property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="productId" column="product_id"/>
        <result property="quantity" column="quantity"/>
        <result property="price" column="price"/>
        <result property="amount" column="amount"/>
    </resultMap>
    <insert id="insert" keyProperty="id" parameterType="com.edev.trade.order.entity.OrderItem">
        insert into t_order_item values(#{id},#{orderId},#{productId},#{quantity},#{price},#{amount})
    </insert>
    <update id="update" parameterType="com.edev.trade.order.entity.OrderItem">
        update t_order_item set order_id=#{orderId},product_id=#{productId},quantity=#{quantity},
        price=#{price},amount=#{amount}
        where id=#{id}
    </update>
    <delete id="delete" parameterType="java.lang.Long">
        delete from t_order_item where id=#{id}
    </delete>
    <select id="load" parameterType="java.lang.Long" resultMap="result">
        select * from t_order_item where id=#{id}
    </select>
    <delete id="deleteByOrderId" parameterType="java.lang.Long">
        delete from t_order_item where order_id=#{orderId}
    </delete>
    <select id="loadByOrderId" parameterType="java.lang.Long" resultMap="result">
        select * from t_order_item where order_id=#{orderId}
    </select>
</mapper>